.cellLook {
  width: 5vw;
  height: 5vw;
  border: 1px solid rgb(242, 103, 4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowLook {
  display: flex;
}

.grid {
  display: inline-block;
  margin: 50px;
}

.moveAndTurn {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.east {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.west {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.north {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.south {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.directionBtn {
  box-shadow:
    0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  border: 1px solid rgb(225 90 29);
  padding: 10px 24px;
  background-color: rgb(225 90 29);
  text-align: center;
  color: white;
  margin: 10px;
  width: fit-content;
}

.fwdBtn {
  padding: 10px 40px;
}
